body{
  background-image:url("images/weatherimg.png");
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}
.title{
  text-align:center;
  font-size: 2rem;
}

.find{
  color:#fff;
  font-weight: 600;
  /* background-color: #fff; */
  margin: 5% 35% 60% 35%;
  padding:5rem 0.5rem;
  text-align:center;
  line-height: 1.5rem;
  font-size: 1.5rem;
}
